<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	Interceptor 설정
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="*.me" />
			<mvc:exclude-mapping path="/resources/**" />
			<beans:bean class="com.kh.nullLive.common.Interceptor"/>
		</mvc:interceptor>
		<beans:bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
			<beans:property name="cacheSeconds" value="0" />
			<beans:property name="useExpiresHeader" value="true" />
			<beans:property name="useCacheControlHeader" value="true" />
			<beans:property name="useCacheControlNoStore" value="true" />
			<beans:property name="cacheMappings">
				<beans:props> 아래 경로에만 뒤로가기 제한시킴.
					<beans:prop key="/index/**">86400</beans:prop>
				</beans:props>
			</beans:property>
		</beans:bean>
	</mvc:interceptors>
</beans:beans> -->