<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.kh.nullLive.member.model.vo.Member" />
		<typeAlias alias="Board" type="com.kh.nullLive.board.model.vo.Board" />
		<typeAlias alias="Attachment" type="com.kh.nullLive.common.attachment.model.vo.Attachment"/>
		<typeAlias alias="AttManage" type="com.kh.nullLive.common.attachment.model.vo.AttManage"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/user/member-mapper.xml" />
		<mapper resource="mappers/user/board-mapper.xml" />
	</mappers>
</configuration>