body{
    background-color:black;
}
#page {
    display: grid;
    width: 100%;
    height: 768px;
    grid-template-columns: 2.2fr 0.9fr;
    grid-template-rows: 0.25fr 2.25fr 0.52fr;
    grid-template-areas: "head head" "video chat" "foot foot";
}
.media-container{
    width:726px;
    height:549px;
}
#page > header {
    grid-area: head;
    background-color: black;
    color:white;
}
#page > #VideoArea {
    grid-area: video;
    background-color: white;
    max-height:549px;
}
#page > #chatArea {
    grid-area: chat;
    background-color: white;
}
#page > #chatArea > button{
    width:50px;
    background-color: #334d00;
    color:white;    
    padding-left: 12px;
    border:none;
}
#page > footer {
    grid-area: foot;
    background-color: white;
}
#streamerProfile {
    width:400px;
    height:100%;
    background-color: red;
}
#titleH{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 21px;
}
#logo{
    float:right;
    width: 164.72px;
    height: 57px;
    margin-top: -39px;
}
#videos-container > video{
    width:726px;
    height:549px;
}
#footerArea{
    margin:10px;
    margin-top:0px;
    margin-left: 20px;
    padding: 15px;
    padding-top:5px;
    float:left;
    max-width: 420px;
    min-width: 420px;
    min-height: 120px;
    max-height: 120px;
    background-color: #ecfce0;
    color: black;
    border-radius:20px;
}
#streamerProImg{
    float: left;
    width: 90px;
    height: 90px;
    margin: 10px auto;
    margin-right: 15px;
}
#footerComuArea{
    margin:10px;
    margin-top:0px;
    padding: 15px;
    padding-top:5px;
    float:left;
    min-height:120px;
    width:250px;
    background-color:#ecfce0;
    color:black;
    border-radius:20px;
}
#footerComuArea > p{
    margin:5px 0 2px;
}
#footerTitle{
    margin-top: 15px;
    margin-bottom: 0px;
}
#chat-box{
    margin-top:15px;
    -ms-overflow-style: none;
    background:white;
    color:black;
	overflow:auto;
	height:505px;
}
body::-webkit-scrollbar {
	display: none;
}
#membersArea{
    margin:10px;
    margin-top:0px;
    padding: 15px;
    padding-top:5px;
    float: left;
    overflow-x:auto;
    min-height: 120px;
    max-height: 120px;
    min-width: 273px;
    background-color: #ecfce0;
    color:black;
    border-radius:20px;
}
#footerComuArea > #btnArea > button{
    float:left;
    width:87px;
    margin-left:10px;
    background-color:#334d00;
    border:none;
}
#membersList{
    color:black;
}
#userMenu{
    position: fixed;
    left: 700px;
    top: 530px;
    background-color: black;
    width: 200px;
    height: 130px;
    border-radius:20px;

}
#userMenu #selectedId{
    position: relative;
    float: left;
    color: white;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#userMenu #userMenuCloseBtn{
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius:5px;
}
#userMenu button {
    position: absolute;
    width: 65px;
    height: 25px;
    font-size: 0.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}
#userMenu ul{
    padding: 5px 0px 5px 5px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 28px;
}
#userMenu li{
    margin-top: 5px;
    margin-bottom: 10px;
}
#reportModal{
    top:150px;
}
#emoticon{
	display: none; 
	width: 135px;
    height: 33px;
    border: 1px solid darkgray;
    background: #ecfce0;
    position: absolute;
    left: 729px;
    top: 547px;
    z-index: 999;
}