@charset "UTF-8";
.blackListDetail{
	width:100%;
	border:1px solid gray;
	text-align:center;
}
.blackListDetail th{
	text-align:center;
	height:30px;
	background:lightgray;
}
th, td{
	border-bottom: 1px solid gray;
}
.button{
	float:right;
}
tr:hover{
	background:#79d279;
}
#update{
	float:right;
	width:130px;
	height:50px;
	font-size:14px;
}
.row{
	background:#f6f8fa;
	color:#446600;
}

#allDeleteBtn{
	float:right;
	width:130px;
	height:50px;
	font-size:14px;
}

