@charset "UTF-8";
.input{
	width:350px;
}
.broadInfo table{
	width:90%;
	border: 1px solid lightgray;
	text-align:center;
}
.broadEncoder table{
	width:100%;
	border: 1px solid lightgray;
	
}
.profile{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}
.row{
	background:#f6f8fa;
	color:#446600;
}
label{
	font-size:18px;
}
#updateBtn, #startBtn{
	height:50px;
	width:130px;
	margin-top:5%;
	margin-left:15%;
	font-size: 14px;
}