@charset "UTF-8";
.table {
	border: 1px solid lightgray;
	width: 50%;
	color:black;
	text-align:center;
	
}

.table tr {
	border: 1px solid lightgray;
}

.table td {
	border: 1px solid lightgray;
}
.row{
	background:#f6f8fa;
	color:#446600;
}

.detailHead{
	border:1px solid #CFEFCF;
	text-align:center;
}
.write{
	float:right;
	height:40px;
	width:60px;
}
.head{
	background:#446600;
	color:white;
}