@charset "UTF-8";
.managerDetail{
	width:100%;
	border:1px solid gray;
	text-align:center;
}
.button{
	float:right;
}

.partnerTable tr:hover{
	background:#cfefcf;
}
#update{
	float:right;
	width:130px;
	height:50px;
	font-size:14px;
}
.row{
	background:#f6f8fa;
	color:#446600;
}
label{
	font-size: 17px;
}
.partnerBox{
	color:black;
	width:35%;
	height:100%;
	background:white;
}
.form-check{
	display:inline-block;
}
.memberDetailInfo{
	width:80%;
	height:auto;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.memberDetailInfo tr{
	height:40px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}
.memberDetailInfo td {
	width:25%;
}
.partnerDetailInfoTd {
	background:#cfefcf;
}
