@charset "UTF-8";
#main{
	/* background:lightblue; */
	padding-top:80px;
}
.headInfo{
	border:1px solid gray;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:lightgray;
	height:30px;
}
.headInfo td{
	border:1px solid gray;
	width:25%;
}
.headInfo th{
	text-align:center;
}
.broadStatus{
	padding-left: 5%;
}
#button{
	height:50px;
	width:130px;
	margin-left:auto;
	margin-right:auto;
	font-size: 14px;
}