@charset "UTF-8";
.row{
	height:100%;
}
.profile{
	text-align:center;
}
#profileImg{
	margin-top: 20%;
	height:150px;
	width:150px;
	background:white;
}

.sidebar{
	background:#334d00;	
	height:150%;
	margin-top:-10px;
	max-height:150%;
	min-height: 100%;
}
#sidemenu{
	background:#334d00;
	max-height: 100%;
	font-size: 20px;
	width:100%;
}
.streamerSideMenu h3{
	padding-left:10%;
	color:#ace600;
}
.streamerSideMenu ul li {
	list-style:none;
	height: 40px;
}
.streamerSideMenu ul li a{
	padding-left:10%;
	font-size:15px;
	color:white;
	text-decoration:none;
}
.streamerSideMenu li a:hover{
	color:black;
	/* background:#ace600; */
}