@charset "UTF-8";
#main{
	/* background:lightblue; */
	padding-top:80px;
}
.headInfo{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:30px;
	background:#e2f0d8;
	border-radius:13px;
}
.headInfo tr>td{
	text-align:left;
	width:25%;
	border-radius:13px;
}
.headInfo tr>th{
	text-align:center;
	border-radius:13px;
	padding-left:10%;
}
.broadStatus{
	padding-left: 5%;
	text-align:center;
}
#button{
	height:50px;
	width:130px;
	margin-left:auto;
	margin-right:auto;
	font-size: 14px;
}
.introBox{
	text-align:center;
}
.intro{
	margin-left:auto;
	margin-right:auto;
	background:#e2f0d8;
	width:80%;
	height:200px;
	text-align:center;
	border-radius:13px;
	
}