@charset "UTF-8";
.input{
	width:350px;
}
.broadInfo table{
	width:90%;
	border: 1px solid lightgray;
	text-align:center;
}
.broadEncoder table{
	width:100%;
	border: 1px solid lightgray;
}
.profileArea{
	width: 200px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid #d3d3d3bf;
}
.row{
	color:#446600;
}