@charset "UTF-8";
.input{
	width:350px;
}
.broadInfo table{
	width:90%;
	border: 1px solid lightgray;
	text-align:center;
}
.broadEncoder table{
	width:100%;
	border: 1px solid lightgray;
}
.profileArea{
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:200px;
	background:lightgray;
}
.row{
	background:#f6f8fa;
	color:#446600;
}