<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board">
	<resultMap type="Board" id="boardResultSet">
		<id property="bno" column="BNO"/>
		<result property="fno" column="FNO"/>
		<result property="snno" column="SNNO"/>
		<result property="qno" column="QNO"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="writtenDate" column="WRITTEN_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="bType" column="BTYPE"/>
		<result property="questionType" column="QUESTION_TYPE"/>
		<result property="refBno" column="REF_BNO"/>
		<result property="bEmail" column="B_EMAIL"/>
		<result property="bbno" column="BBNO"/>
		<result property="bWriter" column="BWRITER"/>
		<result property="reportType" column="REPORT_TYPE"/>
		<result property="isQr" column="IS_QR"/>
		<result property="reportMno" column="REPORT_MNO"/>
		<result property="bStatus" column="B_STATUS"/>
	</resultMap>
	<!-- 구인구직 게시판용 board resultMap -->
	<resultMap type="Board" id="boardResultSet2">
		<id property="bno" column="BNO"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="writtenDate" column="WRITTEN_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="bType" column="BTYPE"/>
		<result property="bWriter" column="BWRITER"/>
		<result property="bStatus" column="B_STATUS"/>
	</resultMap>
	

	<!-- job 게시글 resultSet -->
	<resultMap type="java.util.HashMap" id="jobBoardResultSet">
		<id property="jbno" column="JBNO"/>
		<result property="job" column="JOB"/>
		<result property="jBtype" column="JBTYPE"/>
		<result property="contContent" column="CONT_CONTENT"/>
		<result property="bno" column="BNO"/>
		<result property="deadLine" column="DEADLINE"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="writtenDate" column="WRITTEN_DATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="bType" column="BTYPE"/>
		<result property="bWriter" column="BWRITER"/>
		<result property="nickName" column="NICK_NAME"/>
		<result property="bStatus" column="B_STATUS"/>
	</resultMap>
	
	<!-- job 게시글 상세보기 resultSet -->
	<resultMap type="java.util.HashMap" id="jobBoardDetailResultSet">
		<id property="bno" column="BNO"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="writtenDate" column="WRITTEN_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="bType" column="BTYPE"/>
		<result property="staDetail" column="STA_DETAIL"/>
		<result property="job" column="JOB"/>
		<result property="jBType" column="JBTYPE"/>
		<result property="contContent" column="CONT_CONTENT"/>
		<result property="deadline" column="DEADLINE"/>
		<result property="perprice" column="PERPRICE"/>
		<result property="mid" column="MID"/>
		<result property="mno" column="MNO"/>
		<result property="nickName" column="NICK_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	
	

	
	<!-- 첨부파일 resultSet -->
	<resultMap type="Attachment" id="AttachmentResultSet">
		<id property="attno" column="ATTNO"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="download" column="DOWNLOAD"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="attDiv" column="ATT_DIV"/>
		<result property="attStatus" column="ATT_STATUS"/>
	</resultMap>
	
	<!-- 고객센터 FAQ 전체 게시글 수 조회용 쿼리문 -->
	<select id="selectFListCount" resultType="_int">
		SELECT COUNT(*)
		FROM V_FAQBOARD
		WHERE BTYPE = 'FAQ'
	</select>
	
	<!-- 고객센터 FAQ 조회용 쿼리문 -->
	<select id="selectFList" resultMap="boardResultSet">
		SELECT FNO, BTITLE, BCONTENT
		FROM V_FAQBOARD
		WHERE BTYPE = 'FAQ'
		ORDER BY FNO DESC
	</select>
	
	<!-- 고객센터 FAQ 검색한 게시글 수 조회용 쿼리문 -->
	<select id="searchFListCount" resultType="_int">
		SELECT COUNT(*)
		FROM V_FAQBOARD
		WHERE BTYPE = 'FAQ'
		AND QUESTION_TYPE = #{condition}
	</select>
	
	<!-- 고객센터 FAQ 검색한 게시글 조회용 쿼리문 -->
	<select id="searchFList" resultMap="boardResultSet">
		SELECT FNO, BTITLE, BCONTENT
		FROM V_FAQBOARD
		WHERE BTYPE = 'FAQ'
		AND QUESTION_TYPE = #{condition}
		ORDER BY FNO DESC
	</select>
	
	<!-- 고객센터 FAQ 상세 조회용 쿼리문 -->
	<select id="selectOneF" resultMap="boardResultSet">
		SELECT BTITLE, BCONTENT
		FROM V_FAQBOARD
		WHERE BTYPE = 'FAQ'
		AND FNO = #{num}
	</select>
	
	<!-- 고객센터 FAQ 조회수 증가용 쿼리문 -->
	<update id="updateFCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = (SELECT BCOUNT FROM V_FAQBOARD WHERE FNO = #{num}) + 1
		WHERE BNO = (SELECT BNO FROM V_FAQBOARD WHERE FNO = #{num})
	</update>
	
	<!-- 고객센터 공지사항 게시글 수 조회용 쿼리문 -->
	<select id="selectNListCount" resultType="_int">
		SELECT COUNT(*)
		FROM V_SNOTICEBOARD
		WHERE BTYPE = 'SNOTICE'
	</select>
	
	<!-- 고객센터 공지사항 조회용 쿼리문 -->
	<select id="selectNList" resultMap="boardResultSet">
		SELECT SNNO, BTITLE, BCONTENT, WRITTEN_DATE, BCOUNT
		FROM V_SNOTICEBOARD
		WHERE BTYPE = 'SNOTICE'
		ORDER BY SNNO DESC
	</select>
	
	<!-- 고객센터 공지사항 상세 조회용 쿼리문 -->
	<select id="selectOneN" resultMap="boardResultSet">
		SELECT BTITLE, BCONTENT, WRITTEN_DATE, BCOUNT
		FROM V_SNOTICEBOARD
		WHERE BTYPE = 'SNOTICE'
		AND SNNO = #{num}
	</select>
	
	<!-- 고객센터 공지사항 조회수 증가용 쿼리문 -->
	<update id="updateNCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = (SELECT BCOUNT FROM V_SNOTICEBOARD WHERE SNNO = #{num}) + 1
		WHERE BNO = (SELECT BNO FROM V_SNOTICEBOARD WHERE SNNO = #{num})
	</update>
	
	<!-- 고객센터 1:1 문의 작성용 쿼리문 -->
	<insert id="insertQuestionBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BNO.NEXTVAL, #{bTitle}, #{bContent}, SYSDATE, NULL, 0, 'QUESTION', #{questionType}, NULL, #{bEmail}, NULL, #{bWriter}, NULL, 'Q', NULL, 4)
	</insert>	
	<select id="getScurrval" resultType="_int">
		SELECT SEQ_BNO.CURRVAL FROM DUAL
	</select>
	<insert id="insertServiceAtt" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES (SEQ_ATTNO.NEXTVAL, SYSDATE, #{filePath}, SYSDATE, DEFAULT, #{originName}, #{changeName}, '이미지', DEFAULT)
	</insert>
	<select id="getAcurrval" resultType="_int">
		SELECT SEQ_ATTNO.CURRVAL FROM DUAL
	</select>
	<insert id="insertServiceAttM" parameterType="java.util.HashMap">
		INSERT INTO ATT_MANAGE(USAGE, AMNO, ATTNO, BNO)
		VALUES ('이미지', SEQ_AMNO.NEXTVAL, #{attno}, #{bno})
	</insert>
	
	<!-- 고객센터 신고하기 쿼리문 -->
	<insert id="insertReportBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BNO.NEXTVAL, #{bTitle}, #{bContent}, SYSDATE, NULL, 0, 'REPORT', NULL, NULL, #{bEmail}, NULL, #{bWriter}, #{reportType}, 'R', #{reportMno}, 5)
	</insert>
	<!-- 고객센터 신고자 아이디로 mno 조회용 쿼리문 -->
	<select id="selectRmno" parameterType="java.lang.String" resultType="_int">
		SELECT MNO
		FROM MEMBER
		WHERE MID = #{rmid}
	</select>
	
	<!-- 고객센터 나의문의내역 전체 게시글 수 조회용 쿼리문 -->
	<select id="selectmQListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM V_QUESTIONBOARD
		WHERE BWRITER = #{mno}
		AND REF_BNO IS NULL
	</select>
	
	<!-- 고객센터 나의문의내역 전체 게시글 조회용 쿼리문 -->
	<select id="selectmQList" parameterType="_int" resultType="java.util.HashMap">
		SELECT Q1.QNO mqno, Q1.BNO qbno, Q1.BTITLE bTitle, Q1.BCONTENT bContent, Q1.WRITTEN_DATE qwrittenDate, Q2.BNO abno, Q2.BCONTENT answer, Q2.WRITTEN_DATE awrittenDate, Q2.REF_BNO arefBno
		FROM V_QUESTIONBOARD Q1
		LEFT JOIN V_QUESTIONBOARD Q2 ON(Q1.BNO = Q2.REF_BNO)
		WHERE Q1.BWRITER = #{mno}
		ORDER BY Q1.QNO DESC
	</select>
	
	<!-- 고객센터 나의문의내역 상세 조회용 쿼리문 -->
	<select id="selectOneMQ" parameterType="_int" resultType="java.util.HashMap">
		SELECT Q1.QNO mqno, Q1.BNO qbno, Q1.BTITLE bTitle, Q1.BCONTENT bContent, Q1.WRITTEN_DATE qwrittenDate, Q2.BNO abno, Q2.BCONTENT answer, Q2.WRITTEN_DATE awrittenDate, Q2.REF_BNO arefBno
		FROM V_QUESTIONBOARD Q1
		LEFT JOIN V_QUESTIONBOARD Q2 ON(Q1.BNO = Q2.REF_BNO)
		WHERE Q1.QNO = #{num}
	</select>
	
	<!-- 고객센터 나의문의내역 조회수 증가용 쿼리문 -->
	<update id="updateMQCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = (SELECT BCOUNT FROM V_QUESTIONBOARD WHERE QNO = #{num}) + 1
		WHERE BNO = (SELECT BNO FROM V_QUESTIONBOARD WHERE QNO = #{num})
	</update>
	
	
	<!-- 구인구직 공지사항 INSERT -->
	<insert id="insertJobNotice" parameterType="Board">
		INSERT INTO 
		BOARD(BNO,		 BTITLE,   BCONTENT,   WRITTEN_DATE,MODIFY_DATE,BCOUNT,   BTYPE,   BWRITER,B_STATUS) VALUES
		(SEQ_BNO.NEXTVAL,#{bTitle},#{bContent},SYSDATE,		SYSDATE,	DEFAULT,  #{bType},#{bWriter},7)
	</insert>
	
	<!-- 게시글 INSERT 500 = 모집중-->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO 
		BOARD(BNO,		 BTITLE,   BCONTENT,   WRITTEN_DATE,MODIFY_DATE,BCOUNT,   BTYPE,   BWRITER,B_STATUS) VALUES
		(SEQ_BNO.NEXTVAL,#{bTitle},#{bContent},SYSDATE,		SYSDATE,	DEFAULT,  #{bType},#{bWriter},500)
	</insert>
	<!-- 구인구직 게시글 insert-->
	<insert id="insertJobBoard" parameterType="JobBoard">
		INSERT INTO 
		JOB_BOARD(JBNO,			   JOB,	  JBTYPE,	CONT_CONTENT,  BNO,   DEADLINE,   PERPRICE)
		VALUES(   SEQ_JBNO.NEXTVAL,#{job},#{jBtype},#{contContent},#{bno},#{deadLine},#{perprice})
	</insert>
	
	<!-- 구인구직 공지사항 목록 조회 -->
	<select id="selectListJobNotice" resultMap="boardResultSet">
		SELECT * 
		FROM BOARD
		WHERE BTYPE='JOBNOTICE'
		AND B_STATUS = '7'
	</select>
	<!-- 구인구직 공지사항 상세조회 -->
	<select id="selectOneJobNotice" resultMap="boardResultSet">
		SELECT * 
		FROM BOARD
		WHERE BTYPE='JOBNOTICE'
		AND B_STATUS = '7'
		AND BNO = #{bno}
	</select>
	<!-- 게시물 조회수 증가용 -->
	<update id="updateBoardCount" parameterType="_int">
		UPDATE BOARD SET BCOUNT = (SELECT BCOUNT FROM BOARD WHERE BNO = #{bno}) + 1
		WHERE BNO = #{bno}
	</update>
	<!-- 게시물 갯수 조회용 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS = '1'
		AND BTYPE = 'JOBMNG'
	</select>
	
	<!-- 구인구직 공지사항 리스트 페이징 조회 -->
    <select id="selectJobNoticeTotalPaging" parameterType="PagingVo" resultType="Board">
        SELECT *
        FROM (  SELECT ROWNUM RNUM, P.*
                FROM (  SELECT *
                        FROM BOARD
                        WHERE BTYPE='JOBNOTICE'
                        ORDER BY WRITTEN_DATE DESC ) P )
        WHERE RNUM BETWEEN #{start} AND #{last}
    </select>
    <!-- 구인구직 공지사항 리스트 총 갯수 조회 -->
    <select id="selectJobNoticeListCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        WHERE BTYPE = 'JOBNOTICE'
    </select>
    
	<!-- board currval 조회용 -->
	<select id="selectCurrval" resultType="_int">
		SELECT SEQ_BNO.CURRVAL FROM DUAL
	</select>
	
	<!-- jobBoard 매니저 게시판 페이징 조회 -->
	<select id="selectJobMngTotalPaging" resultMap="jobBoardResultSet">
		SELECT *
		FROM(SELECT ROWNUM RNUM, P.*
    	  FROM(SELECT JB.JBNO, JB.JOB, JB.JBTYPE, JB.CONT_CONTENT, JB.BNO, JB.DEADLINE, B.BTITLE, B.BCONTENT, B.WRITTEN_DATE,B.BCOUNT, B.BTYPE,B.BWRITER,B.B_STATUS,M.NICK_NAME
            	FROM JOB_BOARD JB
            	JOIN BOARD B ON(JB.BNO = B.BNO)
                JOIN MEMBER M ON(B.BWRITER = M.MNO)
           	 	WHERE B.BTYPE = 'JOBMNG'
           	 	ORDER BY JB.JBNO DESC) P)
    	WHERE RNUM BETWEEN #{start} AND #{last}

	</select>
	
	<!-- 매니저 리스트 카운트 조회  -->
    <select id="selectMngListCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        WHERE BTYPE = 'JOBMNG'
    </select>
    
    <!-- Select One JobBoard -->
    <select id="selectOneJobBoard" resultMap="jobBoardDetailResultSet" parameterType="_int">
    	SELECT B.BNO,B.BCONTENT, B.BTITLE,B.WRITTEN_DATE,B.MODIFY_DATE,B.BCOUNT,B.BTYPE,BS.STA_DETAIL,JB.JOB,JB.JBTYPE,JB.CONT_CONTENT,JB.DEADLINE,JB.PERPRICE,M.MNO,M.MID,M.NICK_NAME,M.ENROLL_DATE
		FROM BOARD B
		JOIN BOARD_STATUS BS ON(B.B_STATUS = BS.B_STATUS)
		JOIN JOB_BOARD JB ON(B.BNO = JB.BNO)
		JOIN MEMBER M ON(B.BWRITER = M.MNO)
		--LEFT JOIN ATT_MANAGE AM ON(M.MNO = AM.MNO)
		--LEFT JOIN ATTACHMENT A ON(A.ATTNO = AM.ATTNO)
		WHERE B.BNO = #{bno}
	</select>

</mapper>