<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BroadCenter">
   <!-- 방송국 resultMap (정연) -->
   <resultMap type="BroadCenter" id="BroadCenterResultMap">
      <id property="bcno" column="BCNO" />
      <result property="braodAddress" column="BROAD_ADDRESS" />
      <result property="broadTitle" column="BROAD_TITLE" />
      <result property="bcIntro" column="BCINTRO" />
      <result property="broadPwd" column="BROAD_PWD" />
      <result property="mno" column="MNO" />
      <result property="broadCategory" column="BROAD_CATEGORY" />
      <result property="endingComment" column="ENDING_COMMENT" />
      <result property="adult" column="ADULT" />
   </resultMap>

   <!-- 방송국 기능 설정 조회(정연) -->
   <select id="selectBroadSetting" parameterType="_int" resultType="java.util.HashMap">
      SELECT *
      FROM (SELECT BH.BHNO, BH.COUNT_VIEWERS, BH.BCNO, BH.COUNT_RECOMMENDATION,
      BH.BROAD_TITLE, BH.BROAD_PWD, BH.BROAD_CATEGORY, BH.ADULT, BH.BH_STATUS,
      BC.BROAD_ADDRESS, BC.BCINTRO, BC.MNO, BC.ENDING_COMMENT
      FROM BROAD_HIS BH, BROAD_CENTER BC
      WHERE BH.BCNO = BC.BCNO
      AND BH.BCNO = #{mno}
      ORDER BY BH.BHNO DESC)
      WHERE ROWNUM = 1
   </select>
   
   <!-- 방송기능 broad_his 삽입 (정연) -->
   <insert id="updateBroadSetting" parameterType="java.util.HashMap">
      INSERT INTO BROAD_HIS 
      VALUES(SEQ_BHNO.NEXTVAL, SYSDATE, NULL, 'Y', NULL, #{bcno}, NULL, #{title}, #{pwd}, #{category}, #{adult})
   </insert>
   
   <!-- 파트너 리스트 조회(정연) -->
   <select id="selectpartnerList" parameterType="_int" resultType="java.util.HashMap">
      SELECT P.PNO, P.SNO, P.MNO, P.CNO, P.PTYPE, C.JBNO, TO_CHAR(C.C_SDATE, 'YYYY/MM/DD') AS C_SDATE,
      C.C_EDATE, C.PERPRICE, M.MID, M.NICK_NAME
      FROM MEMBER M, PARTNER P, CONTRACT C, STREAMER S
      WHERE P.MNO = M.MNO
      AND P.SNO = S.SNO
      AND P.CNO = C.CNO
      AND P.SNO = #{mno}
      AND M.M_STATUS = 'Y'
   </select>
   
   <!-- blackList 조회(소연) -->
   <select id="selectBlackList" resultType="java.util.HashMap">
      SELECT BLNO,M.MID,M.NICK_NAME,TO_CHAR(BL_DATE,'YYYY/MM/DD') AS BL_DATE
      FROM MEMBER M,MEMBER ST,BLACKLIST B
      WHERE M.MNO = B.MNO
      AND ST.MNO = B.SNO
      AND ST.MNO =  #{mno}
      AND BL_STATUS = 'Y'   
   </select>
   
   <!-- blackList Count 조회 (소연) -->
   <select id="selectBlackListCount" resultType="_int">
      SELECT count(*) as 인원수
   FROM MEMBER M,MEMBER ST,BLACKLIST B
   WHERE M.MNO = B.MNO
   AND ST.MNO = B.SNO
   AND ST.MNO = #{mno}
   AND BL_STATUS = 'Y'
   </select>
   
   <select id="selectOneBlackList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
      SELECT BLNO,M.MID,M.NICK_NAME,TO_CHAR(BL_DATE,'YYYY/MM/DD')AS BL_DATE
      FROM MEMBER M,MEMBER ST,BLACKLIST B
      WHERE M.MNO = B.MNO
      AND ST.MNO = B.SNO
      AND ST.MNO = #{mno}
      AND BLNO = #{blno}
      AND BL_STATUS = 'Y'   
   </select>
   
   <!--  -->
   <select id="partnerDetail" parameterType="_int" resultType="java.util.HashMap">
      SELECT P.PNO, P.SNO, P.MNO, P.CNO, P.PTYPE, C.JBNO, TO_CHAR(C.C_SDATE, 'YYYY/MM/DD') AS C_SDATE,
      C.C_EDATE, C.PERPRICE, M.MID, M.NICK_NAME, M.PHONE
      FROM MEMBER M, PARTNER P, CONTRACT C, STREAMER S
      WHERE P.MNO = M.MNO
      AND P.SNO = S.SNO
      AND P.CNO = C.CNO
      AND M.MNO = #{mno}
      AND M.M_STATUS = 'Y'
   </select>


	<!-- 공지게시판 정보 조회(정연) -->
	<select id="selectNoticeBoard" parameterType="_int" resultType="java.util.HashMap">
		SELECT *
		FROM BROAD_CENTER BC, MEMBER M
		WHERE BC.MNO = M.MNO
		AND M.MNO = #{mno}
		AND M.M_STATUS = 'Y'
	</select>
  
	<!-- 방송 공지 수정 체크(정연) -->
	<update id="updateNoticeCheck" parameterType="java.util.HashMap">
		UPDATE BROAD_CENTER
		SET NOTICE_CONTENT = #{content}
		WHERE MNO = #{mno}
	</update>
	
	
	<!-- 방송 공지 삭제(정연) -->
	<update id="deleteNotice" parameterType="_int">
		UPDATE BROAD_CENTER
		SET NOTICE_CONTENT = NULL
		WHERE MNO = #{mno}
	</update>
	
	<!-- 시청자 소통 개설 여부 확인(정연) -->
	<select id="firstCheckCommunication" parameterType="java.util.HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM BRO_BOARD BB, BROAD_CENTER BC, MEMBER M
		WHERE M.MNO=BC.MNO
		AND BC.BCNO=BB.BCNO
		AND M.MNO=#{smno}
		AND BB.BBTYPE=#{type}
		AND BB.BB_STATUS='Y'
	</select>
	
	<!-- 첫 소통 게시판 활성화(정연) -->
	<insert id="enableCommunityBoard" parameterType="_int">
		INSERT INTO BRO_BOARD 
		VALUES(SEQ_BBNO.NEXTVAL, '소통게시판', '소통', 'ALL', 'Y', #{smno})
	</insert>
	
	<!-- 소통게시판 리스트 조회(정연 , 병욱(페이징))-->
	<select id="selectCommunityList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM
       	(select ROWNUM RNUM2, P.* FROM
        (SELECT *
			FROM (SELECT ROWNUM RNUM, L.*
        		FROM ( SELECT B.BNO BNO, B.BTITLE BTITLE, B.BCONTENT BCONTENT, TO_CHAR(B.WRITTEN_DATE,'yyyy/mm/dd') WRITTEN_DATE, B.MODIFY_DATE MODIFY_DATE, 
        				B.BCOUNT BCOUNT, B.BTYPE BTYPE, B.BWRITER BWRITER, B.B_STATUS STATUS, M2.MNO MMNO, M2.NICK_NAME MNICK_NAME, M.MNO SMNO, BB.BBNO BBNO
               	 FROM BOARD B, BRO_BOARD BB, BROAD_CENTER BC, MEMBER M, MEMBER M2
               	 WHERE M.MNO = BC.MNO
              	  AND BC.BCNO = BB.BCNO
              	  AND BB.BBNO = B.BBNO
              	  AND B.BWRITER = M2.MNO
              	  AND M.MNO =  #{smno}
              	  AND B.B_STATUS=7
               	 ORDER BY B.BNO) L)
				ORDER BY RNUM DESC) P)
             WHERE RNUM2 BETWEEN #{paging.start} AND #{paging.last}
	</select>
	
	<!-- 스트리머 검색(정연,언) -->
	<select id="searchStreamer" resultType="java.util.HashMap">
		SELECT S.MNO, M.MID, M.NICK_NAME, M.RECEIVED_LIKES, A.CHANGE_NAME
		FROM STREAMER S
		JOIN MEMBER M ON(S.MNO = M.MNO)
		JOIN ATT_MANAGE AM ON(S.MNO = AM.MNO)
		JOIN ATTACHMENT A ON(AM.ATTNO = A.ATTNO)
		WHERE M.M_STATUS = 'Y'
		ORDER BY M.RECEIVED_LIKES DESC
	</select>
	
	<select id="searchStreamerName" parameterType="java.lang.String" resultType="java.util.HashMap">
	SELECT S.MNO, M.MID, M.NICK_NAME, M.RECEIVED_LIKES, A.CHANGE_NAME
	FROM STREAMER S
	JOIN MEMBER M ON(S.MNO = M.MNO)
	JOIN ATT_MANAGE AM ON(S.MNO = AM.MNO)
	JOIN ATTACHMENT A ON(AM.ATTNO = A.ATTNO)
	WHERE M.NICK_NAME LIKE '%'||#{name}||'%'
	AND M.M_STATUS = 'Y'
	ORDER BY M.RECEIVED_LIKES DESC
	</select>
	
	<!-- broadCenter -->
	<select id="selectBroadCenter" resultMap="BroadCenterResultMap" parameterType="_int">
		SELECT *
		FROM BROAD_CENTER
		WHERE MNO = #{smno}
	</select>
	
	<select id="streamerPofile" parameterType="_int" resultType="java.util.HashMap">
		SELECT *
		FROM MEMBER
		WHERE MNO=#{smno}
	</select>
	
	<!-- 소통게시판 상세(정연) -->
	<select id="selectCommunityDetail" parameterType="_int" resultType="java.util.HashMap">
		SELECT B.BNO, B.BTITLE, B.BCONTENT, TO_CHAR(B.WRITTEN_DATE, 'YYYY/MM/DD') AS WRITTEN_DATE, B.MODIFY_DATE, B.BCOUNT, 
		B.BTYPE, B.BBNO, B.BWRITER, B.B_STATUS, M.NICK_NAME, M2.MNO SMNO, M2.NICK_NAME SNICK_NAME, BC.BCNO
		FROM BOARD B, MEMBER M, BROAD_CENTER BC, MEMBER M2, BRO_BOARD BB
		WHERE M.MNO = B.BWRITER
		AND B.BBNO = BB.BBNO
		AND BB.BCNO = BC.BCNO
		AND BC.MNO = M2.MNO
		AND B.BNO=#{bno}
	</select>
	
	<!-- 소통게시판 조회수 증가(정연) -->
	<update id="countCommunity" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = BCOUNT+1
		WHERE BNO=#{bno}
	</update>
	
	<!-- bbno 찾기 -->
	<select id="selectBbno" parameterType="java.util.HashMap" resultType="_int">
		SELECT BB.BBNO
		FROM BRO_BOARD BB, BROAD_CENTER BC
		WHERE BC.BCNO = BB.BCNO
		AND BC.MNO = #{smno}
		AND BB.BBTYPE= #{type}
	</select>
	
	<!-- 소통 게시글 등록(정연) -->
	<insert id="insertCommunityDetail" parameterType="java.util.HashMap">
		INSERT INTO BOARD
		VALUES(SEQ_BNO.NEXTVAL, #{title}, #{content}, SYSDATE, NULL, 0, #{type}, 'N', NULL, NULL, #{bbno}, #{mno}, NULL, 'N', NULL, 7) 
	</insert>
	
	<!-- 소통 게시물 수정(정연) -->
	<update id="updateCommunityDetail" parameterType="java.util.HashMap">
		UPDATE BOARD
		SET BTITLE = #{title}, BCONTENT=#{content}, MODIFY_DATE=SYSDATE
		WHERE BNO = #{bno}
	</update>
	
	<!-- 소통 게시물 삭제(정연) -->
	<delete id="deleteCommu" parameterType="_int">
		UPDATE BOARD
		SET B_STATUS = 99
		WHERE BNO = #{bno}
	</delete>
	
	<select id="getCommuBoardListCount" parameterType="_int" resultType="_int">
		 SELECT COUNT(*)
			FROM (SELECT ROWNUM RNUM, L.*
        		FROM ( SELECT B.BNO BNO, B.BTITLE BTITLE, B.BCONTENT BCONTENT, TO_CHAR(B.WRITTEN_DATE,'yyyy/mm/dd') WRITTEN_DATE, B.MODIFY_DATE MODIFY_DATE, 
        				B.BCOUNT BCOUNT, B.BTYPE BTYPE, B.BWRITER BWRITER, B.B_STATUS STATUS, M2.MNO MMNO, M2.NICK_NAME MNICK_NAME, M.MNO SMNO, BB.BBNO BBNO
               	 FROM BOARD B, BRO_BOARD BB, BROAD_CENTER BC, MEMBER M, MEMBER M2
               	 WHERE M.MNO = BC.MNO
              	  AND BC.BCNO = BB.BCNO
              	  AND BB.BBNO = B.BBNO
              	  AND B.BWRITER = M2.MNO
              	  AND M.MNO = #{smno}
              	  AND B.B_STATUS=7
               	 ORDER BY B.BNO) L)
	</select>
	
</mapper>
