<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Streaming">

	<resultMap type="Member" id="memberResultSet">
		<id property="mno" column="MNO"/>
		<result property="mid" column="MID"/>
		<result property="mpwd" column="MPWD"/>
		<result property="email" column="EMAIL"/>
		<result property="emailC" column="EMAIL_CHECK"/>
		<result property="phone" column="PHONE"/>
		<result property="agency" column="AGENCY"/>
		<result property="name" column="NAME"/>
		<result property="nickName" column="NICK_NAME"/>
		<result property="gender" column="GENDER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="isAdmin" column="IS_ADMIN"/>
		<result property="point" column="POINT"/>
		<result property="receivedLikes" column="RECEIVED_LIKES"/>
		<result property="cumulativeReport" column="CUMULATIVE_REPORT"/>
		<result property="mstatus" column="M_STATUS"/>
		<result property="pwdModifyDate" column="PWD_MODIFY_DATE"/>
		<result property="withdrawalDate" column="WITHDRAWAL_DAET"/>
		<result property="isStreamer" column="IS_STREAMER"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="adult" column="ADULT"/>
	</resultMap>
	
	
	<!-- selectMember(reset용) -->
	<select id="selectMember" resultMap="memberResultSet" parameterType="_int">
		SELECT *
		FROM MEMBER
		WHERE MNO = #{mno}
		AND M_STATUS = 'Y'
	</select>
	
	<!-- startStreaming(회륜) -->
	<insert id="startStreaming" parameterType="_int">
		INSERT INTO BROAD_HIS(BHNO,BH_START_DATE,BH_STATUS,BCNO,BROAD_TITLE,BROAD_PWD,BROAD_CATEGORY,ADULT)
		VALUES(SEQ_BHNO.NEXTVAL,SYSDATE,DEFAULT,
        (SELECT BCNO FROM BROAD_CENTER JOIN MEMBER USING(MNO) WHERE MNO=#{mno}),
        'TEST','TESTPWD','캠방',DEFAULT)
	</insert>
	
	<!-- endStreaming(회륜) -->
	<update id="endStreaming" parameterType="_int">
		UPDATE BROAD_HIS
		SET BH_END_DATE=SYSDATE,
		BH_STATUS='N'
		<!-- COUNT_VIEWERS, COUNT_RECOMMENDATION 미완 -->
		WHERE BCNO = (SELECT BCNO FROM BROAD_CENTER JOIN MEMBER USING(MNO) WHERE MNO=#{mno})
		AND BH_STATUS='Y'
	</update>
	
	<!-- 방송 번호 가져오기(회륜) -->
	<select id="getBhno" resultType="_int">
		SELECT BHNO
		FROM BROAD_HIS
		JOIN BROAD_CENTER USING(BCNO)
		JOIN MEMBER USING(MNO)
		WHERE MNO=#{mno}
		AND BH_STATUS='Y'
	</select>
		
</mapper>