<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Subscription">

	<resultMap type="Subscription" id="subscriptionResultSet">
		
	</resultMap>
	
	<select id="getSubscriptionCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) 
		FROM SUBSCRIPTION_HIS
		WHERE SNO = #{sno}
		AND SU_STAUS = 'Y'
	</select>
</mapper>